<?xml version="1.0"?>
<launch>

  <include file="$(find syn_ur10_bringup)/launch/demo.launch"/>

  <!-- add new tf dummy node to fix the table on the floor -->
  <node name="tf_dummy" pkg="model_loader" type="tf_dummy" respawn="true" output="screen">
  </node>

  <!-- using new motion control launch file [start_motion_control_b] -->
  <include file="$(find motion_control)/launch/start_motion_control_b.launch"/>

</launch>
